# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Flask/Django specific
instance/
.webassets-cache
static/.webassets-cache

# Database
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nosepy/
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

*.db
PRD.md